<div class="container">

  <div class="navbar navbar-inverse">
    <h2 id="title">Outside365</h2>
    <h1 id="title-shadow">Outside365</h1>
    <a id="navbar" class="navbar-brand text-muted" href="/">Camp Site Forum</a>
    <a id="navbar" class="navbar-brand text-muted" href="/camptips">Camping Tips Forum</a>
    <a id="navbar" class="navbar-brand text-muted" href="/about"> About</a>
    <a id="navbar" class="navbar-brand text-muted" href="/contact">Contact</a>
  </div>
  {{outlet}}
</div>
